@media screen and (max-width: 1500px){

header h1{
	color: #FFEBA4;
	text-align: center;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 3em;
	text-shadow: 0 2px #ED6C5C;
}

header h1.s1{
	color: #FFEBA4;
	text-align: center;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 3em;
	text-shadow: 0 2px #024206;
}

header h2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	text-shadow: 0 1.5px #ED6C5C;
}

header h2.s2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	text-shadow: 0 1.5px #024206;
}

nav{
	margin:0 auto;
	text-align: center;
}
nav a{
	padding: 1em;
	width: 25%;
	font-size: 1.3em;
	text-decoration: .1em overline #FFEBA4; 
	font-family: "AR bonnie regular",arial,roboto;
	color: #FFEBA4;

}

nav a.active{
	color: #FFEBA4;
	text-decoration: .2em overline #FF7663;
	font-size: 1.5em;

}

nav.line a.active{
	text-decoration: .2em overline #024206;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: inline-block; 
 background-color: rgba(0, 0, 0, 0.0);
 padding: 0;
 margin: 0;
}

/* (C) HIDE HAMBURGER */
label, #hamburger { display: none; }

body{
	background: #024206;
	color: #FFEBA4;
	overflow: clear;
	padding: .5em 2em;
	margin: 2em;
}

.change{
	background:#FF7663;
	color: #ED6C5C;
	overflow: clear;
	padding: .5em 2em;
	margin: 2em;

}

section{
	display: inline-flex;
	border: .5em double #013304;
	background-color: rgba(2, 66, 6, .8);
	margin: 2em;
	-moz-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	-webkit-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	align-items: center;
	justify-content: center;
}

.move1{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/WebDesignillustration.jpg');
	display: inline-flex;
	width: 25em;
	height: 15em;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move1:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/WebDesignillustration.jpg');
	background-size: 100% 100%;
}

.move2{
	float: right;
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/UXillustration.jpg');
	display: inline-flex;
	width: 25em;
	height: 15em;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move2:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/UXillustration.jpg');
	background-size: 100% 100%;
}

.move3{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Galleryillustration.png');
	display: inline-flex;
	width: 25em;
	height: 15em;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move3:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/Galleryillustration.png');
	background-size: 100% 100%;
}

.move4{
	float: right;
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Designillustration.png');
	display: inline-flex;
	width: 25em;
	height: 15em;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move4:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/Designillustration.png');
	background-size: 100% 100%;
}

div{
	background-color: #FF7663;
	padding: 2.5em;
	margin: 2.5em;
}

.color{
	background-color: #024206;
	padding: 2.5em;
	margin: 2.5em;
}

h2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 2em;
}


footer p{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1em;
	overflow: clear;
}
/*resume*/
.left{
	display: inline-block;
	float: left;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 2em;
	color: #FFEBA4;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.0);
	border-left: .1em solid #FF7663;
}

.right{
	display: inline-block;
	width: 100%;
	float: right;
	background-color: rgba(0, 0, 0, 0.0);
	font-family: arial, "AR bonnie regular",roboto;
	line-height: 1em;
	color: #FFEBA4;
	font-variant: small-caps;
	font-size: 1em;
}

.right h3{
	font-size: 1.2em;
	border-bottom: .1em solid #FFEBA4;
}

.r1{

	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

.r2{
	overflow: clear;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

.r3{
	overflow: clear;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

.r4{
	overflow: clear;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}
/*contact*/
.no{
	background-color: rgba(0, 0, 0, 0.0);
	border: .2em double #FFEBA4;
	margin: 1em;
}

iframe{
	width: 20em;
	height: 20em;
	padding: 1em;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
}

form{
	float: right;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 2em;
}

input{
	width: 40vw;
	height: 3vh;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
	
}

textarea{
	width: 40vw;
	height: 8vh;
	border: .2em solid  #FF7663;
	background-color: #FFEBA4;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
}

.b1{
	width: 10vw;
	height: 5vh;
	margin: 0 auto;
	border: .1em solid  #FF7663;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 2vw; 
	font-weight: bold;
	color:  #024206;
	border-radius: .2em;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
}
p.a1{
	font-size: .6em;
	line-height: 1em;
	text-align: center;
	color: #FFEBA4;

}



/*gallery*/

.container {
  width: 70vw;
  height: auto;
  margin: .2rem auto;
  object-fit: cover; 
  background-color: rgba(0, 0, 0, 0.0);
  align-items: center;
  border: .2em double #FFEBA4;
  text-shadow: 0 1.5px #ED6C5C;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  grid-template-rows: repeat(16, 5vw);
  background-color: rgba(0, 0, 0, 0.0);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline -flex; 
  transition: transform .2s;/*animation */
  border: .2em solid #FFEBA4;
  -moz-border-radius: .1em;
  -webkit-border-radius: .1em;
  -o-border-radius: .1em;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, .5);
}

img:hover {
  transform: scale(1.5);
}

.gallery__item--1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 8;
}

.gallery__item--4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 11;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 13;
}

.gallery__item--6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 17;
}

.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 13;
  grid-row-end: 17;
}

/*fontawesome*/
i{
	color: #FFEBA4;
	width: 1em;
	height: 1em;
	padding: .5em;
   line-height: 1em;
}

a{
	color: #024206;
}

a.q1{
	color: #ED6C5C;
}
/*thanks*/

.t1{
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 3em;
	color: #FFEBA4;
	text-shadow: 0 2px #ED6C5C;
	text-align: center;
	animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: bold;
}

@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

.t2{
	background-color: rgba(0, 0, 0, 0.0);
}
}

@media screen and (max-width: 1279px){

body{
	background: #024206;
	color: #FFEBA4;
	overflow: clear;
	padding: .5em 1em;
	margin: 1em;
}

.change{
	background:#FF7663;
	color: #ED6C5C;
	overflow: clear;
	padding: .5em 1em;
	margin: 1em;

}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: inline-block; 
 background-color: rgba(0, 0, 0, 0.0);
 padding: 0;
 margin: 0;
}

/* (C) HIDE HAMBURGER */
label, #hamburger { display: none; }

section{
	display: inline-flex;
	border: .5em double #013304;
	background-color: rgba(2, 66, 6, .8);
	margin: 1em;
	-moz-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	-webkit-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	align-items: center;
	justify-content: center;
}

.move1{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/WebDesignillustration.jpg');
	display: inline-flex;
	width: 30vw;
	height: 25vh;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move1:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/WebDesignillustration.jpg');
	background-size: 100% 100%;
}

.move2{
	float: right;
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/UXillustration.jpg');
	display: inline-flex;
	width: 30vw;
	height: 25vh;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move2:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/UXillustration.jpg');
	background-size: 100% 100%;
}

.move3{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Galleryillustration.png');
	display: inline-flex;
	width: 30vw;
	height: 25vh;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move3:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/Galleryillustration.png');
	background-size: 100% 100%;
}

.move4{
	float: right;
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Designillustration.png');
	display: inline-flex;
	width: 30vw;
	height: 25vh;
	padding: .5em .5em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
}

.move4:hover{
	background: linear-gradient(rgba(2, 66, 6, .8), rgba(2, 66, 6, .8)),url('/img/Designillustration.png');
	background-size: 100% 100%;
}

div{
	background-color: #FF7663;
	padding: 2.5em;
	margin: 2.5em;
}

.color{
	background-color: #024206;
	padding: 2.5em;
	margin: 2.5em;
}

h2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 2em;
}


footer p{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1em;
	overflow: clear;
}
/*resume*/
.left{
	display: inline-block;
	float: left;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	color: #FFEBA4;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.0);
	border-left: .1em solid #FF7663;
}

.right{
	display: inline-block;
	width: 100%;
	float: right;
	background-color: rgba(0, 0, 0, 0.0);
	font-family: arial, "AR bonnie regular",roboto;
	line-height: 1em;
	color: #FFEBA4;
	font-variant: small-caps;
	font-size: .8em;
}

.right h3{
	font-size: 1em;
	border-bottom: .1em solid #FFEBA4;
}

/*contact*/
.no{
	background-color: rgba(0, 0, 0, 0.0);
	border: .2em double #FFEBA4;
	margin: .5em;
}

iframe{
	width: 18em;
	height: 18em;
	padding: .8em;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
}

form{
	float: right;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 1.8em;
}

input{
	width: 40vw;
	height:3vh;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
	
}

textarea{
	width: 40vw;
	height:4vh;
	border: .2em solid  #FF7663;
	background-color: #FFEBA4;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
}

.b1{
	width: 10vw;
	height: 6vh;
	margin: 0 auto;
	border: .1em solid  #FF7663;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 2vw; 
	font-weight: bold;
	color:  #024206;
	border-radius: .2em;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
}
p.a1{
	font-size: .6em;
	line-height: 1em;
	text-align: center;
	color: #FFEBA4;

}

}

@media screen and (max-width:879px){

header h1{
	color: #FFEBA4;
	text-align: center;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 2em;
	text-shadow: 0 .1em #ED6C5C;
}

header h1.s1{
	color: #FFEBA4;
	text-align: center;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 2em;
	text-shadow: 0 .1em #024206;
}

header h2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	text-shadow: 0 .1em #ED6C5C;
}

header h2.s2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	text-shadow: 0 .1em #024206;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: inline-block; 
 background-color: rgba(0, 0, 0, 0.0);
 padding: 0;
 margin: 0;
}

/* (C) HIDE HAMBURGER */
label, #hamburger { display: none; }

body{
	background: #024206;
	color: #FFEBA4;
	overflow: clear;
	padding: .1em .5em;
	margin: .5em;
}

.change{
	background:#FF7663;
	color: #ED6C5C;
	overflow: clear;
	padding: .1em .5em;
	margin: .5em;

}

div{
	background-color: #FF7663;
	padding: .5em;
	margin: .5em;
	width: 90vw;
	align-items: center;
}

.color{
	background-color: #024206;
	padding: .5em;
	margin: .5em;
	width: 90vw;
	align-items: center;
	justify-content: center;
}

section{
	display: block;
	border: .1em double #013304;
	background-color: rgba(2, 66, 6, .8);
	margin: .5em;
	-moz-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	-webkit-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	align-items: center;
	justify-content: center;
}

.move1{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/WebDesignillustration.jpg');
	width: 86vw;
	height: 45vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}

.move2{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/UXillustration.jpg');
	width: 86vw;
	height: 45vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}

.move3{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Galleryillustration.png');
	width: 86vw;
	height: 45vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}

.move4{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Designillustration.png');
	width: 86vw;
	height: 45vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}

h2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
}

/*resume*/
.left{
	display:block;
	float: none;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	color: #FFEBA4;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.0);
	border-left: .1em solid #FF7663;
}

.right{
	display:block;
	width: 65vw;
	float: none;
	background-color: rgba(0, 0, 0, 0.0);
	font-family: arial, "AR bonnie regular",roboto;
	line-height: 1em;
	color: #FFEBA4;
	font-variant: small-caps;
	font-size: .8em;
}

.right h3{
	font-size: 1em;
	border-bottom: .1em solid #FFEBA4;
}

.r1{

	width: 72vw;
	height: 75vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

.r2{
	width: 72vw;
	height: 65vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
	font-size: 1em;
}

.r3{
	width: 72vw;
	height: 130vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

.r4{
	width: 72vw;
	height: 50vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

/*contact*/
.no{
	background-color: rgba(0, 0, 0, 0.0);
	border: .2em double #FFEBA4;
	margin: .5em;
}

iframe{
	width: 86vw;
	height: 50vh;
	padding: .5em;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	justify-content: center;
}

form{
	float: none;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
}

input{
	width: 88vw;
	height:4vh;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
	
}

textarea{
	width: 88vw;
	height:6vh;
	border: .2em solid  #FF7663;
	background-color: #FFEBA4;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
}

.b1{
	width: 25vw;
	height: 6vh;
	margin: 0 auto;
	border: .1em solid  #FF7663;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 2vw; 
	font-weight: bold;
	color:  #024206;
	border-radius: .2em;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
}
p.a1{
	font-size: .6em;
	line-height: 1em;
	text-align: center;
	color: #FFEBA4;

}

/*gallery*/

.container {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  object-fit: cover; 
  background-color: rgba(0, 0, 0, 0.0);
  align-items: left;
  border: .2em double #FFEBA4;
  text-shadow: 0 1.5px #ED6C5C;
}

.gallery {
	width: 70vw;
  display: block;
  grid-template-columns: repeat(2, .5fr);
  grid-template-rows: repeat(16, 5vw);
  background-color: rgba(0, 0, 0, 0.0);
  align-items: center;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  transition: transform .2s;/*animation */
  border: .2em solid #FFEBA4;
  -moz-border-radius: .1em;
  -webkit-border-radius: .1em;
  -o-border-radius: .1em;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, .5);
  float: none;
}

img:hover {
  transform: scale(1.5);
}

/*thanks*/

.t1{
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 2em;
	color: #FFEBA4;
	text-shadow: 0 2px #ED6C5C;
	text-align: center;
	animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: bold;
}

@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

.t2{
	background-color: rgba(0, 0, 0, 0.0);
}


}


@media screen and (max-width:400px){

header h1{
	color: #FFEBA4;
	text-align: left;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 2em;
	text-shadow: 0 .1em #ED6C5C;
}

header h1.s1{
	color: #FFEBA4;
	text-align: left;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 2em;
	text-shadow: 0 .1em #024206;
}

header h2{
	color: #FFEBA4;
	text-align: left;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	text-shadow: 0 .1em #ED6C5C;
}

header h2.s2{
	color: #FFEBA4;
	text-align: left;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	text-shadow: 0 .1em #024206;
}

body{
	background: #024206;
	color: #FFEBA4;
	overflow: clear;
	padding: .1em .5em;
	margin: .5em;
}

.change{
	background:#FF7663;
	color: #ED6C5C;
	overflow: clear;
	padding: .1em .5em;
	margin: .5em;

}

div{
	background-color: #FF7663;
	padding: .5em;
	margin: .5em;
	width: 80vw;
	align-items: center;
}

.color{
	background-color: #024206;
	padding: .5em;
	margin: .5em;
	width: 80vw;
	align-items: center;
}

section{
	display: block;
	border: .1em double #013304;
	background-color: rgba(2, 66, 6, .8);
	margin: .5em;
	-moz-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	-webkit-box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	box-shadow: .5em .5em 1em rgba(2, 66, 6, .5);
	align-items: center;
	justify-content: center;
}

.move1{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/WebDesignillustration.jpg');
	width: 72vw;
	height: 30vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}

.move2{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/UXillustration.jpg');
	width: 72vw;
	height: 30vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}

.move3{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Galleryillustration.png');
	width: 72vw;
	height: 30vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}

.move4{
	background: linear-gradient(rgba(2, 66, 6, .5), rgba(2, 66, 6, .5)),url('/img/Designillustration.png');
	width: 72vw;
	height: 30vh;
	padding: .1em .1em;
	background-size: 100% 100%;
	text-shadow: 0 3px #024206;
	align-items: center;
	float: none;
}



h2{
	color: #FFEBA4;
	text-align: center;
	padding: 0.1em;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
}

/*resume*/
.left{
	display:block;
	float: none;
	font-family: "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	color: #FFEBA4;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.0);
	border-left: .1em solid #FF7663;
}

.right{
	display:block;
	width: 65vw;
	float: none;
	background-color: rgba(0, 0, 0, 0.0);
	font-family: arial, "AR bonnie regular",roboto;
	line-height: 1em;
	color: #FFEBA4;
	font-variant: small-caps;
	font-size: .8em;
}

.right h3{
	font-size: 1em;
	border-bottom: .1em solid #FFEBA4;
}

.r1{

	width: 72vw;
	height: 45vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

.r2{
	width: 72vw;
	height: 35vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
	font-size: .9em;
}

.r3{
	width: 72vw;
	height: 75vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

.r4{
	width: 72vw;
	height: 30vh;
	margin: 0 auto;
	padding: 0;
	border: .2em double #FFEBA4;
}

/*contact*/
.no{
	background-color: rgba(0, 0, 0, 0.0);
	border: .2em double #FFEBA4;
	margin: .5em;
}

iframe{
	width: 75vw;
	height: 30vh;
	padding: .5em;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
}

form{
	float: none;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
}

input{
	width: 78vw;
	height:2vh;
	border: .2em solid  #FF7663;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
	
}

textarea{
	width: 78vw;
	height:4vh;
	border: .2em solid  #FF7663;
	background-color: #FFEBA4;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
}

.b1{
	width: 25vw;
	height: 5vh;
	margin: 0 auto;
	border: .1em solid  #FF7663;
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 1em; 
	font-weight: bold;
	color:  #024206;
	border-radius: .2em;
	-moz-border-radius: .1em;
	-webkit-border-radius: .1em;
	-o-border-radius: .1em;
	background-color: #FFEBA4;
}
p.a1{
	font-size: .6em;
	line-height: 1em;
	text-align: center;
	color: #FFEBA4;

}

/*gallery*/

.container {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  object-fit: cover; 
  background-color: rgba(0, 0, 0, 0.0);
  align-items: left;
  border: .2em double #FFEBA4;
  text-shadow: 0 1.5px #ED6C5C;
}

.gallery {
	width: 70vw;
  display: block;
  grid-template-columns: repeat(2, .5fr);
  grid-template-rows: repeat(16, 5vw);
  background-color: rgba(0, 0, 0, 0.0);
  align-items: center;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  transition: transform .2s;/*animation */
  border: .2em solid #FFEBA4;
  -moz-border-radius: .1em;
  -webkit-border-radius: .1em;
  -o-border-radius: .1em;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, .5);
  float: none;
}

img:hover {
  transform: scale(1.5);
}

/*thanks*/

.t1{
	font-family:  "AR bonnie regular",arial,roboto;
	font-size: 1.5em;
	color: #FFEBA4;
	text-shadow: 0 2px #ED6C5C;
	text-align: center;
	animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: bold;
}

@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

.t2{
	background-color: rgba(0, 0, 0, 0.0);
}

nav {
  width: 100%;
  background: #024206;
 
  top: .75em;
  right: 0;
}


#hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-decoration: none;
  }
 
  /* (B) SHOW HAMBURGER ICON */
 label { 
    display: inline-block; 
    color: #FFEBA4;
    background: #024206;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    float: right;
    top: 0;
  	right: 0;
  }

  #j2{
  	background: #FF7663;
  }

  #j1 { 
    background: #FF7663;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  input:checked ~ #hamitems { display: block; }
}

}
